* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*shared style */
.open-sans-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange{
  color: #FD6E0A;
}
.btn{
  background-color: #FD6E0A;
  width: 150px;
  height: 60px;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
header{
  background-color: #FFF8F3;
  margin-top: 51px;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2{
  font-size: 41px;
  font-weight: 900;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;

}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
