* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*shared style */
.open-sans-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  max-width: max-content;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.section-heading {
  max-width: 827px;
  text-align: center;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  max-width: 827px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

/*main style*/
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.logo h2 {
  font-size: 41px;
  font-weight: 900;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  font-weight: 500;
}
#banner {
  display: flex;
  max-width: 1332px;
  margin: 47px 38px 0 230px;
  align-items: center;
  justify-content: space-between;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  width: 585px;
  margin-bottom: 30px;
}
#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
  height: 676px;
}
#banner .banner-content .btn {
  margin-right: 5px;
}
#about {
  padding-top: 130px;
}
#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
  border: none;
  border-radius: 10px;
}
#about .about-container .about-info {
  display: flex;
  max-width: 782px;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
}
